# edit the `terraform.tfvars.example` file, populating the fields with the

# CVO refresh token
cloudmanager_refresh_token = "********"
# CVO service account secret key
cloudmanager_sa_secret_key = "********"
# CVO service account client id
cloudmanager_sa_client_id = "*********"